a {
  color: red;
  transition: all 150ms ease-in-out;
}
a:has(img) {
  display: inline-block;
  position: relative;
  text-align-last: justify;
}
input:placeholder-shown {
  color: red;
  -moz-user-focus: unset;
}
::backdrop {
  color: red;
}
